<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FilePath" value="C:\Users\gumba\OneDrive\Documents\tournament_proj\data" />
    <add key="SenderMail" value="gumball.daruine@gmail.com" />
    <add key="GreaterScoreWins" value="1" />  
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="Server=KEMO\SQLEXPRESS;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
